<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback | PED</title>

      <!-- Google Fonts: Inter -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- FontAwesome Icons for modern, lightweight UI cues -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <!-- Estilos customizados -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1 class="text-xl sm:text-2xl font-bold tracking-tight">Fatec Indaiatuba | PED</h1>
        <nav>
           <a href="tela_inicial.html">Início</a>
           <a href="minhas_solicitações.html">Minhas Solicitações</a>
           <a href="feedback.html">Feedback</a>
           <a href="">Dashboard</a>
           <a href="">Relatórios</a>
           <a href="">Meu Perfil</a>
           <a href="">Configurações</a>
        </nav>
    </header>
    
    <main>
        <h2>Feedback</h2>
        <p>Olá, aluno!</p>
        <p>Aqui é onde você pode dar seu <strong>feedback</strong> sobre o seu assistente, para que possamos auxiliá-lo melhor!</p>
    </main>

    <footer>
        <img src="img/logo_fate.png" alt="Logo Fatec Indaiatuba" width="7%"> 
        <ul>
            <p>Telefone: (19) 3885-1923</p>
            <a href="https://api.whatsapp.com/send/?phone=5519992691700&text&type=phone_number&app_absent=0">Whatsapp: (19) 99269-1700</a>            
        </ul>
    </footer> 

</body>
</html>